Control flow and loop conditional statements

In [ ]:
age = 18
if age >= 18:
  print("your are eligible to vote.")

your are eligible to vote.

If- else statements

In [ ]:
num = int(input("enter a number: "))
if num%2 == 0:
  print("the number is even")
else:
    print("the number is odd")

enter a number: 567
the number is odd

In [ ]:
marks = int(input("enter your marks:"))
if marks >= 90:
  print("grade: A")
elif marks >=75:
  print("grade: B")
elif marks >= 50:
    print("grade: C")
else:
  print("grade: D")

enter your marks:60
grade: C

In [ ]:
for i in range(5):
  print("iteration:" , i)

iteration: 0
iteration: 1
iteration: 2
iteration: 3
iteration: 4

In [ ]:
for i in range(5,60, 10):
  print("iteration:" , i)

iteration: 5
iteration: 15
iteration: 25
iteration: 35
iteration: 45
iteration: 55

while loops

In [ ]:
count = 0
while count < 5:
  print("count:", count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

control flow tools

In [ ]:
for i in range(10):
  if i ==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  if i ==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
  pass
  print(i)

0
1
2
3
4
5
6
7
8
9

Hands-on practice

In [ ]:
number=int(input("enter a number:"))
if number%2==0:
  print("the number is even")
else:
  print("the number is odd")

enter a number:22
the number is even

sum of numbers in a given range

In [ ]:
start = int(input("enter the start of the range: "))
end = int(input("enter the end of the range : "))
sum = 0
for i in range(start, end + 1):
  sum += i
  print("the sum is:", sum)

enter the start of the range: 5
enter the end of the range : 10
the sum is: 5
the sum is: 11
the sum is: 18
the sum is: 26
the sum is: 35
the sum is: 45

factorial number

In [ ]:
number=int(input("enter a number:"))
factorial=1
for i in range(1, number+1):
  factorial*=i
  print("the factorial is:", factorial)

enter a number:5
the factorial is: 1
the factorial is: 2
the factorial is: 6
the factorial is: 24
the factorial is: 120

Fibonacci sequence

In [ ]:
n = int(input("enter the number of terms: "))
a, b =0, 1
for i in range(n):
  print(a, end=" ")
a,b = b, a + b

enter the number of terms: 5
0 0 0 0 0

simple calculator using if-else

In [ ]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
operation=input("enter operation(+,-,*,/,//,%):")
if operation=='+':
  print("result:",num1+num2)
elif operation=='-':
  print("result:",num1-num2)
elif operation=='*':
  print("result:",num1*num2)
elif operation=='/':
  print("result:",num1/num2)
elif operation=='//':
  print("result:",num1//num2)
elif operation=='**':
  print("result:",num1**num2)
elif operation=='%':
  print("result:",num1%num2)
else:
  print("invalid operator")

enter first number:23
enter second number:88
enter operation(+,-,*,/,//,%):%
result: 23.0

check leap year

In [ ]:
year=int(input("enter a year:"))
if(year%4==0 and year%100!=0) or(year%400==0):
  print("leap year")
else:
  print("not a leap year")

enter a year:2024
leap year

largest of three number

In [ ]:
num1=float(input("enter the first number:"))
num2=float(input("enterthe second number:"))
num3=float(input("enter the third number"))
if num1>=num2 and num1>=num3:
  print("largest number is:",num1)
elif num2>=num3:
  print("largest number is:",num2)
else:
  print("largest number is:",num3)

enter the first number:686
enterthe second number:88888
enter the third number99
largest number is: 88888.0

In [ ]:
a=int(input("enter a number:"))
if a>0:
  print("positive number")
elif a<0:
  print("negative number")
else:
  print("zero")

enter a number:5
positive number

sum of all even number in a range

In [ ]:
start=int(input("enter the start of range:"))
end=int(input("enter the end of range:"))
even_sum=0
for num in range(start,end+1):
  if num%2==0:
    even_sum+=num
    print("the sum of even numbers:",even_sum)

enter the start of range:30
enter the end of range:50
the sum of even numbers: 30
the sum of even numbers: 62
the sum of even numbers: 96
the sum of even numbers: 132
the sum of even numbers: 170
the sum of even numbers: 210
the sum of even numbers: 252
the sum of even numbers: 296
the sum of even numbers: 342
the sum of even numbers: 390
the sum of even numbers: 440